In [ ]:
IF OBJECT_ID(N'dbo.Users', N'U') IS NOT NULL 
BEGIN
	DROP TABLE dbo.Users; 
END
CREATE TABLE dbo.Users
(
    UserNo INT NOT NULL,
    Username INT NOT NULL,
    Email INT NOT NULL,

    CONSTRAINT pk_Users PRIMARY KEY (UserNo)
);

INSERT INTO dbo.Users (UserNo, Username, Email)
VALUES (1, 'Grace Hopper', 'grace@plymouth.ac.uk');
INSERT INTO dbo.Users (UserNo, Username, Email)
VALUES (2, 'Tim Berners-Lee', 'tim@plymouth.ac.uk');
INSERT INTO dbo.Users (UserNo, Username, Email)
VALUES (3, 'Ada Lovelace', 'ada@plymouth.ac.uk');

IF OBJECT_ID(N'dbo.OrderDetails', N'U') IS NOT NULL 
BEGIN
	DROP TABLE dbo.OrderDetails; 
END

CREATE TABLE dbo.OrderDetails 
( 
    OrderId INT NOT NULL, 
    ProductId INT NOT NULL,     
    Quantity INT NOT NULL 
        CHECK(Quantity <> 0), 
CONSTRAINT PK_OrderDetails PRIMARY KEY (OrderId, ProductId) 
); 

INSERT INTO dbo.OrderDetails(OrderId, ProductId, Quantity)
VALUES(1, 1, 20);
INSERT INTO dbo.OrderDetails(OrderId, ProductId, Quantity)
VALUES(2, 2, 10);
INSERT INTO dbo.OrderDetails(OrderId, ProductId, Quantity)
VALUES(3, 3, 5);

IF OBJECT_ID(N'dbo.Products', N'U') IS NOT NULL 
BEGIN
	DROP TABLE dbo.Products; 
END

CREATE TABLE dbo.Products
(
	ProductId INT IDENTITY(1,1) not null,
	Product_Details VARCHAR (Max) not null,
	Price FLOAT not null,
	Quantity int not null,
	CONSTRAINT PK_Products PRIMARY KEY (ProductId)
);

INSERT INTO dbo.Products(Product_Details, Price, Quantity)
VALUES('Pens - Black biro',0.30, 200);
INSERT INTO dbo.Products(Product_Details, Price, Quantity)
VALUES('Pens - Green biro',0.30, 200);
INSERT INTO dbo.Products(Product_Details, Price, Quantity)
VALUES('Pens - Red biro',0.30, 200);